/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/led/led.h>

&spi1 {
	compatible = "nordic,nrf-spim";
	/* Cannot be used together with i2c0. */
	status = "okay";
	mosi-pin = <6>;
	// Unused pins, needed for SPI definition, but not used by the ws2812 driver itself.
	sck-pin = <5>;
	miso-pin = <7>;

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "SK6812mini";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <4000000>;

		/* WS2812 */
		chain-length = <27>; /* There are per-key RGB, but enable all */
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;

		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};

/ {
	chosen {
		zmk,underglow = &led_strip;
	};
};

&mmv {    
        time-to-max-speed-ms = <500>;
        acceleration-exponent=<1>;
};
&mwh {    
        time-to-max-speed-ms = <2000>;
        acceleration-exponent=<0>;
};
&mt {
        flavor = "tap-preferred";
        tapping-term-ms = <500>; 
};
&lt {
        flavor = "tap-preferred";
        tapping-term-ms = <500>; 
};

/ {
        keymap {
                compatible = "zmk,keymap";
                // layer 0
                default_layer {
// When host set to qwerty	
// -----------------------------------------------------------------------------------------
// |USBBT|  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  [  |
// | LED+|  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '  |
// |  `  |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |EXPWR|
//                   | DEL | SPC | TAB |   | RET | BKSP | ESC |
// When host set to dvorak	
// -----------------------------------------------------------------------------------------
// |USBBT|  '  |  ,  |  .  |  P  |  Y  |   |  F  |  G   |  C  |  R  |  L  |  ?  |
// | LED+|  A  |  O  |  E  |  U  |  I  |   |  D  |  H   |  T  |  N  |  S  |  -  |
// |  `  |  ;  |  Q  |  J  |  K  |  X  |   |  B  |  M   |  W  |  V  |  Z  |EXPWR|
//                   | DEL | SPC | TAB |   | RET | BKSP | ESC |
                        bindings = <
   &out OUT_TOG    &kp Q       &kp W       &kp E       &kp R       &kp T      &kp Y     &kp U       &kp I        &kp O      &kp P          &kp LBKT
   &rgb_ug RGB_EFF &mt LGUI A  &mt LALT S  &mt LCTRL D &mt LSHFT F &kp G      &kp H     &mt RSHFT J &mt RCTRL K  &mt LALT L &mt RGUI SEMI  &kp SQT
   &kp GRAVE       &kp Z       &kp X       &kp C       &kp V       &kp B      &kp N     &kp M       &kp COMMA    &kp PERIOD &kp FSLH       &ext_power EP_TOG
                                           &lt 2 DEL   &lt 4 SPACE &lt 6 TAB  &lt 5 RET &lt 3 BSPC  &lt 1 ESC
                        >;
                };

                // layer 1
                func_layer {
// -----------------------------------------------------------------------------------------
// | RESET| BT0 |  F7 |  F8 |  F9 | F12 |   |     |      |     |     |     |      |
// | BOOTL| BT1 |  F4 |  F5 |  F6 | F11 |   |     | SHFT | CTRL| ALT | GUI |      |
// | BTCLR| BT2 |  F1 |  F2 |  F3 | F10 |   |     |      |     |     |     |      |
//                    | DEL | SPC | TAB |   |     |      |     |
                        bindings = <
   &reset      &bt BT_SEL 0  &kp F7      &kp F8       &kp F9       &kp F12     &none  &none     &none      &none    &none    &none
   &bootloader &bt BT_SEL 1  &mt LALT F4 &mt LCTRL F5 &mt LSHFT F6 &kp F11     &none  &kp RSHFT &kp RCTRL  &kp LALT &kp RGUI &none
   &bt BT_CLR  &bt BT_SEL 2  &kp F1      &kp F2       &kp F3       &kp F10     &none  &none     &none      &none    &none    &none
                                         &none        &none        &none       &none  &none     &none
                        >;
                };

                // layer 2
                media_layer {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |  LB+| LB-  | BDN | BUP |     | RESET|
// |      | GUI | ALT | CTRL| SHFT|     |   |  TOG| PREV | VDN | VUP | NEXT| BOOTL|
// |      |     |     |     |     |     |   |     | LS+  | LS- | LH+ | LH- | EXPWR|
//                    |     |     |     |   | STOP| PLPS | MUTE|
                        bindings = <
   &none  &none     &none     &none     &none     &none     &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp C_BRI_DN       &kp C_BRI_UP        &none           &reset
   &none  &kp LGUI  &kp LALT  &kp LCTRL &kp LSHFT &none     &rgb_ug RGB_TOG  &mt RSHFT C_PREV &mt RCTRL C_VOL_DN &mt LALT C_VOL_UP   &mt RGUI C_NEXT &bootloader
   &none  &none     &none     &none     &none     &none     &none            &rgb_ug RGB_SAI  &rgb_ug RGB_SAD    &rgb_ug RGB_HUI     &rgb_ug RGB_HUD &ext_power EP_TOG
                              &none     &none     &none     &kp C_STOP       &kp C_PP         &kp K_MUTE
                        >;
                };

                // layer 3
                num_layer {
// -----------------------------------------------------------------------------------------
// |      |  £  |  7  |  8  |  9  |  /  |   |     |      |     |     |     |      |
// |      |  .  |  4  |  5  |  6  |  *  |   |     | SHFT | CTRL| ALT | GUI |      |
// |      |  $  |  1  |  2  |  3  |  -  |   |     |      |     |     |     |      |
//                    |  =  |  0  |  +  |   |     |      |     |
                        bindings = <
   &none  &kp LA(N3)       &kp N7       &kp N8       &kp N9       &kp KP_DIVIDE    &none  &none     &none      &none    &none    &none
   &none  &mt LGUI KP_DOT  &mt LALT N4  &mt LCTRL N5 &mt LSHFT N6 &kp KP_MULTIPLY  &none  &kp RSHFT &kp RCTRL  &kp LALT &kp RGUI &none
   &none  &kp DOLLAR       &kp N1       &kp N2       &kp N3       &kp KP_MINUS     &none  &none     &none      &none    &none    &none
                                        &kp KP_EQUAL &kp N0       &kp KP_PLUS      &none  &none     &none
                        >;
                };

                // layer 4
                nav_layer {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   | REDO| PST | CPY | CUT | UNDO|      |
// |      | GUI | ALT | CTRL| SHFT|     |   |     | LFT | DWN | UP  |RIGHT|      |
// |      |     |     |     |     |     |   |     | HOME| PGDN| PGUP| END |      |
//                    |     |     |     |   | RET | BKSP| ESC |
                        bindings = <
   &none  &none     &none     &none     &none     &none    &kp C_AC_REDO  &kp C_AC_PASTE  &kp C_AC_COPY  &kp C_AC_CUT  &kp C_AC_UNDO  &none
   &none  &kp LGUI  &kp LALT  &kp LCTRL &kp LSHFT &none    &none          &kp LEFT        &kp DOWN       &kp UP        &kp RIGHT      &none
   &none  &none     &none     &none     &none     &none    &none          &kp HOME        &kp PG_DN      &kp PG_UP     &kp END        &none
                              &none     &none     &none    &kp RET        &kp BSPC        &kp ESC
                        >;
                };

                // layer 5
                sym_layer {
// When host set to qwerty
// -----------------------------------------------------------------------------------------
// |   \  |  @  |  #  |  _  |  +  |  ]  |   |      |      |     |     |     |      |
// |   {  |  `  |  %  |  (  |  )  | "|" |   |      | SHFT | CTRL| ALT | GUI |      |
// |   *  |  &  |  ^  |  -  |  =  |  ~  |   |      |      |     |     |     |      |
//                    |  !  |  [  |  $  |   |      |      |     |
// When host set to dvorak
// -----------------------------------------------------------------------------------------
// |   \  |  @  |  #  |  {  |  }  |  =  |   |      |      |     |     |     |      |
// |   ?  |  `  |  %  |  (  |  )  | "|" |   |      | SHFT | CTRL| ALT | GUI |      |
// |   *  |  &  |  ^  |  [  |  ]  |  ~  |   |      |      |     |     |     |      |
//                    |  !  |  /  |  $  |   |      |      |     |
                        bindings = <
   &kp BACKSLASH  &kp AT        &kp HASH    &kp UNDERSCORE       &kp PLUS               &kp RBKT      &none  &none     &none      &none    &none    &none
   &kp LEFT_BRACE &kp GRAVE     &kp PERCENT &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS  &kp PIPE      &none  &kp RSHFT &kp RCTRL  &kp LALT &kp RGUI &none
   &kp STAR       &kp AMPERSAND &kp CARET   &kp MINUS            &kp EQUAL              &kp TILDE     &none  &none     &none      &none    &none    &none
                                            &kp EXCLAMATION      &kp LBKT               &kp DOLLAR    &none  &none     &none
                        >;
                };

                // layer 6
                mouse_layer {
// -----------------------------------------------------------------------------------------
// | LOCK |     |     |     |     |     |   | F20 | F21 | F22 | F23 | F24 |      |
// |      | GUI | ALT | CTRL| SHFT|     |   |     | MLFT| MDWN| MUP | MRHT|      |
// |      |     |     |     |     |     |   |     | SLFT| SDWN| SUP | SRHT|      |
//                    |     |     |     |   | LCLK| MCLK| RCLK|

                        bindings = <
   &to 7  &none     &none     &none     &none     &none     &kp F20    &kp F21              &kp F22               &F23                  &F24                  &none
   &none  &kp LGUI  &kp LALT  &kp LCTRL &kp LSHFT &none     &none      &mmv MOVE_HOR(-2500) &mmv MOVE_VERT(2500)  &mmv MOVE_VERT(-2500) &mmv MOVE_HOR(2500)   &none
   &none  &none     &none     &none     &none     &none     &none      &mwh SCROLL_HOR(-15) &mwh SCROLL_VERT(-15) &mwh SCROLL_VERT(15)  &mwh SCROLL_HOR(15)   &none
                              &none     &none     &none     &mkp LCLK  &mkp MCLK            &mkp RCLK
                        >;
                };

                // layer 7
                lock_layer {
// -----------------------------------------------------------------------------------------

                        bindings = <
   &none  &none     &none     &none     &none     &none     &none  &none     &none     &none     &none     &none
   &none  &none     &none     &none     &none     &none     &none  &none     &none     &none     &none     &none
   &none  &none     &none     &none     &none     &none     &none  &none     &none     &none     &none     &none
                              &none     &none     &none     &none  &none     &none
                        >;
                };
        };
};
